// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

.form-control {
  width: auto;
  display: inline-block;
}

.page-header {
  text-align: center;
}

.umassd_logo {
    width: 200px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    vertical-align: center;
}

.nav {
    float: right;
    a {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

.section {
  margin-bottom: 30px;
}

.section-header {
  color: #ce4844;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.table {
  display: block;
  padding: 0;
}

.img {
  max-width: 100%;
}

@media screen and (min-width: 48em) {
    .header,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    .header {
        margin-bottom: 2rem;
    }
}
